<!DOCTYPE html>
<html>
<head>
    <title>Manga Quiz - Question</title>
    <link rel="stylesheet" href="/styles/quiz.css"> 
</head>
<body>
    <h1>Questions</h1>
    <div id="quiz-container">
        <h1 id="question"></h1>
        <div id="options-container"></div>
    </div>
    <div id="results-container"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/quizClient.js"></script> 
</body>
</html>
